.meno{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 0px;
    background-color:#FFADFF;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.Origami{
    border-radius: 20px;
    border-color: #ffffff;
    margin: 25px;
    
    width: 310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}